**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/main.pdf
**/*.synctex.gz
**/OCME
**/OCF
**/COCME
**/STEINER
**/tmp.txt
**/obj/*
**/__pycache__/*
**/result.txt
**/out.txt
**/main.vtc
**/.DS_Store
